#app {
  text-align: center;
  color: white;
  background-color: #111;
  min-width: 50vw;
  font-size: 2rem;
}

.break {
  display: flex;
  justify-content: center;
}

#options {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.session {
  display: flex;
  justify-content: center;
}

#buttons {
  display: grid;
}

.fa-play {
  font-size: 2.5rem;
}

#start_stop {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fas {
  cursor: pointer;
}
